.tranaction_container {
    -fx-background-color: #EEEEEE;
}

.tranaction_container Text {
    -fx-fill: #000000;
    -fx-font-size: 2.5em;
    -fx-font-family: 'Courier New', Courier, monospace;
}

.tranaction_container .list-view {
    -fx-background-color: #EEEEEE;
    -fx-padding: 10;
}

.tranaction_container .list-cell {
    -fx-background-color: #EEEEEE;
    -fx-pref-width: 800;
}
